// 基础视图的边框颜色
$base-border-color: var(--theme-border);

// 系统背景色
$base-bg-color: var(--theme-bg);

// 左侧菜单
$base-menu-width: 150px;
$base-menu-bg-color: var(--theme-sidebar-bg);
    
// 顶部导航栏
$base-header-height: 50px;
$base-header-width: 730px;

// 内容区域
$base-main-width: 730px;
